<section class="story-content">
  <div class="row entry-content">

    {# The little nav section. If we have an author then set the grid differently #}
    {% if spotlight is not empty %}
    <div class="medium-2 large-2 xlarge-1 xlarge-offset-2 text-right hide-for-small-only columns">
    {% else %}
    <div class="medium-2 large-2 xlarge-1 xlarge-offset-3 text-right hide-for-small-only columns">
    {% endif %}
      <a href="{{site.url}}/{{post_type|lower}}/" class="title-lower all-posts">
        <i class="icon-left-dir"></i>
        All {{post_type}}
      </a>
    </div>

    {# The main content section #}
    <div class="small-12 medium-8 large-6 xlarge-4 end columns">
      {% if post.get_field('post_excerpt') is not empty %}
        <p class="excerpt">{{post.get_field('post_excerpt')}}</p>
      {% endif %}
      {% for layout in layouts %}
        {% if layout.acf_fc_layout == "text_content" %}
          <div class="row">
          {% if layout.column_number == "2" %}
            {# Sets up 2 columns #}
            <div class="small-12 medium-6 columns">
              {% if layout.the_content[0].content_type == "image" %}
                <figure class="no-margin">
                   <img src="{{TimberImage(layout.the_content[0].image).src}}" alt="{{TimberImage(layout.the_content[0].image).alt}}">
                  <figcaption>{{TimberImage(layout.the_content[0].image).caption}}</figcaption>
                </figure>
              {% else %}
                {{layout.the_content[0].text|trim}}
              {% endif %}
            </div>
            <div class="small-12 medium-6 columns">
              {% if layout.another_content[0].content_type == "image" %}
                <figure class="no-margin">
                   <img src="{{TimberImage(layout.another_content[0].image).src}}" alt="{{TimberImage(layout.another_content[0].image).alt}}">
                  <figcaption>{{TimberImage(layout.another_content[0].image).caption}}</figcaption>
                </figure>
              {% else %}
                {{layout.another_content[0].text|trim}}
              {% endif %}
            </div>
          {% else %}
            {# Sets up 1 columns #}
            <div class="small-12 columns">
              {% if layout.the_content[0].content_type == "image" %}
                <figure>
                   <img src="{{TimberImage(layout.the_content[0].image).src}}" alt="{{TimberImage(layout.the_content[0].image).alt}}">
                  <figcaption>{{TimberImage(layout.the_content[0].image).caption}}</figcaption>
                </figure>
              {% else %}
                {{layout.the_content[0].text|trim}}
              {% endif %}
            </div>
          {% endif %}
          </div>
        {% elseif layout.acf_fc_layout == "gallery" %}
        <div class="row">
          <ul id="tiles">
            {% for gallery in layout.gallery_gallery %}
              <li class="item"
                data-src="{{gallery.url}}"
                data-title="{{gallery.caption}}">
                <a href="">
                  <img src="{{gallery.sizes.thumbnail}}" alt="">
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      {% endfor %}
    </div>

    {# The Spotlight Section - Vertical mode for L and above #}
    {% if spotlight is not empty %}
    <div class="author-box large-3 xlarge-2 end columns show-for-large-up">
      <div class="author-photo"></div>
      <div class="author-meta">
        <div class="title-bold author-name">{{spotlight.get_field('name')}}</div>
        <div class="author-bio">
          {{spotlight.get_field('description')}}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

{# The Spotlight Section - Horizontal mode for M and below #}
  <div class="row max-width horz-spotlight show-for-medium-down">
    <div class="small-12 medium-4 columns no-padding remove-me">
      <div class="author-photo show-for-medium-only"></div>
    </div>
    <div class="small-12 medium-8 columns author-meta small-only-text-center">
      <div class="author-photo show-for-small-only"></div>
      <div class="title-bold author-name">{{spotlight.get_field('name')}}</div>
      <div class="author-bio">
        {{spotlight.get_field('description')}}
      </div>
      {{spotlight.get_field('test').lat|print_r}}
    </div>
  </div>

</section>

{#           {% if layout.acf_fc_layout == "slideshow" %}
            </div>
            <div id="slideshow" class="hide-for-small-only">
              {% for item in layout.slideshow_gallery %}
                <div class="carousel-content" style="background-image: url({{item.url}});">
              </div>
              {% endfor %}
            </div>
            <div class="small-12 medium-8 large-6 xlarge-4 end columns">
 #}