<section class="journal-content">
  <div class="row show-for-medium-down journal-select">
    <div class="small-12 columns">
      <h4>Filter By Categories:</h4>
      <select class="category-select">
        <option selected value="{{site.url}}/journal">All</option>
        {% for category in categories %}
        <option value="{{site.url}}/journal/categories/{{category.slug}}">{{category.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row max-width journal-latest">
    <div class="large-2 xlarge-2 xlarge-offset-2 hide-for-medium-down columns">
      <ul class="side-nav journal-category-nav">
        <h4>Filter By Categories:</h4>
        <li class="journal-category-list journal-selected">
          <a class="journal-category-link" href="{{site.url}}/journal/">All</a>
        </li>
        {% for category in categories %}
        <li class="journal-category-list">
          <a class="journal-category-link" href="{{site.url}}/journal/categories/{{category.slug}}">{{category.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="small-12 large-10 xlarge-5 end columns journal-list">
      <h2>{{chosen_name}}</h2>
      {% for post in posts|slice(0, 15) %}
      <article class="small-12 columns text-center journal-article" style="background-image: url({{post.thumbnail.src}});">
        <a href="{{post.permalink}}">
          <span class="journal-overlay"></span>
          <h4 class="journal-meta">{{post.post_date|date('j M, Y')}} - <span class="coral-meta">{{post.category}}</span></h4>
          <h2 class="journal-title">{{post.title}}</h2>
          <p class="journal-excerpt">{{post.get_field('journal_excerpt')}}</p>
        </a>
      </article>
      {% endfor %}
{#       <ul class="post-list">
        {% for post in posts|slice(5, length) %}
          <li class="small-12 columns">
            <a href="{{post.permalink}}" class="row">
              <span class="post-date small-12 medium-3 large-2 columns">{{post.post_date|date('F j, Y')}}</span>
              <span class="post-title small-12 medium-9 large-10 columns">{{post.title}}</span>
            </a>
          </li>
        {% endfor %}
      </ul> #}

{# background-image: linear-gradient(rgba({{post.get_field('story_color')|toRGB}},0.50),rgba({{post.get_field('story_color')|toRGB}},0.40)),url({{post.thumbnail.src}}); #}

    </div>
  </div>
</section>