<footer id="footer">
  <div class="row">
    <div class="medium-3 columns quicklinks">
      <h5>Quick Links</h5>

          <ul>
            {% for item in menu.get_items %}
              <li class="{{item.classes | join(' ')}}">
                <a href="{{item.get_link}}" class="nav-item {{item.attr_title | join(' ')}}">{{item.title}}</a>
              </li>
            {% endfor %}
          </ul>

    </div>
    <div class="medium-4 columns contact">
      <h5>Keep in touch</h5>
      <ul>
        <li><i class="icon-email"></i>{{options.contact_email}}</li>
        <li><i class="icon-phone-squared"></i>{{options.contact_phone}}</li>
        <li><i class="icon-bbm"></i>{{options.contact_bbm}}</li>
        {% if options.contact_address is not empty %}<li><i class="icon-location"></i>{{options.contact_address}}</li>{% endif %}
      </ul>
    </div>
    <div class="medium-5 columns newsletter">
      <div class="row">
        <div class="medium-12 columns">
          <h5>Don't Be A Stranger</h5>
          <p>Sign up for updates &amp; exciting offers from us.</p>
        </div>
      </div>
      <form id="subscribe" class="row collapse" target="_blank">
        <div class="small-8 medium-7 large-9 columns">
          <input id="subscribe-email" type="email" placeholder="Your Email Address" class="radius" required>
        </div>
        <div class="small-4 medium-5 large-3 end columns">
          <button type="submit" class="button postfix radius">Subscribe</button>
        </div>
      </form>
      <div class="row">
        <div class="medium-12 columns">
          <ul class="inline-list social text-center">
            {% for item in options.social_links %}
              {% if item == 'facebook' %}
                <li>
                  <a href="http://www.{{options.facebook_url}}" target="_blank">
                    <i class="icon-{{item}}"></i>
                  </a>
                </li>
              {% elseif item == 'instagram' %}
                <li>
                  <a href="http://www.{{options.instagram_url}}" target="_blank">
                    <i class="icon-{{item}}"></i>
                  </a>
                </li>
              {% elseif item == 'twitter' %}
                <li>
                  <a href="http://www.{{options.twitter_url}}" target="_blank">
                    <i class="icon-{{item}}"></i>
                  </a>
                </li>
              {% elseif item == 'pinterest' %}
                <li>
                  <a href="http://www.{{options.pinterest_url}}" target="_blank">
                    <i class="icon-{{item}}"></i>
                  </a>
                </li>
              {% elseif item == 'youtube-play' %}
                <li>
                  <a href="http://www.{{options.youtube_url}}" target="_blank">
                    <i class="icon-{{item}}"></i>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row footer-info">
    <div class="hide-for-small-only medium-4 columns text-left">
      <img src="{{site.theme.link}}/assets/svg/logo-light.svg" alt="Copyright - Proposal Envy">
    </div>
    <div class="medium-8 columns text-right">
      <p> &copy; {{now|date('Y')}} Proposal Envy. All rights reserved</p>
    </div>
  </div>
</footer>