<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" {{site.language_attributes}} > <![endif]-->
<html class="no-js" {{site.language_attributes}} >
  <head>
    <meta charset="{{site.charset}}" />
{# Minimal UI for Safari iOS 7.1
http://zerosixthree.se/minimal-ui-meta-tag/ #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="description" content="{{site.description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{wp_title}}</title>

{# Stylesheet and stuff #}
    <link rel="stylesheet" href="{{site.theme.link}}/css/app.css" />
    <link rel="pingback" href="{{site.pingback_url}}" />

{# Favicon Stuff #}
    <link rel="apple-touch-icon" sizes="57x57" href="{{site.theme.link}}/assets/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.theme.link}}/assets/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.theme.link}}/assets/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.theme.link}}/assets/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.theme.link}}/assets/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.theme.link}}/assets/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.theme.link}}/assets/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.theme.link}}/assets/icons/apple-touch-icon-152x152.png">
    <meta name="apple-mobile-web-app-title" content="Proposal Envy">
    <link rel="icon" type="image/png" href="{{site.theme.link}}/assets/icons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="{{site.theme.link}}/assets/icons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="{{site.theme.link}}/assets/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{site.theme.link}}/assets/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{site.theme.link}}/assets/icons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-TileImage" content="{{site.theme.link}}/assets/icons/mstile-144x144.png">
    <meta name="application-name" content="Proposal Envy">

{# Google Plus #}
    <script type="text/javascript" async defer src="https://apis.google.com/js/platform.js?publisherid=107371223086148396918"></script>

    {{function('wp_head')}}
  </head>