
{#   <a class="nav-identity" href="{{site.url}}">
    <img src="{{TimberImage(options.site_logo).src}}" alt="Proposal Envy">
  </a> #}
  {# The click area overlay#}
  <a id="nav-toggle-click-area" href="#"></a>
  <div id="nav-toggle">
    <i id="nav-text" class="title white hide-for-medium-down">MENU</i>
    <span></span>
  </div>

<div class="overlay overlay-slidedown">
  <nav>
    <ul>
      {% for item in menu.get_items %}
        <li>
          <a href="{{item.get_link}}">
            <div class="title-bold white">{{item.attr_title}}</div>
            <h2 class="white no-margin">{{item.title}}</h2>
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
