<div class="menu-wrapper">
  <a class="nav-identity" href="{{site.url}}">
    <img src="{{TimberImage(options.site_logo).src}}" alt="Proposal Envy">
  </a>
  {# The click area overlay#}
  <a class="nav-toggle-click-area" href="#">
    <i class="nav-text title-bold white hide-for-medium-down">MENU</i>
    <div class="nav-toggle">
      <span></span>
    </div>
  </a>
</div>

<div class="overlay overlay-slidedown text-center" style="background: rgba({{options.menu_overlay_color|toRGB}}, 0.96);">
  <nav>
    <ul class="overlay-list no-padding">
      {% for item in menu.get_items %}
        <li>
          <a href="{{item.get_link}}">
            <div class="title-bold white">{{item.attr_title}}</div>
            <h2 class="white no-margin">{{item.title}}</h2>
          </a>
        </li>
      {% endfor %}
      <li>
        <ul class="inline-list">
          {% for item in options.social_links %}
            {% if item == 'facebook' %}
              <li>
                <a href="http://www.{{options.facebook_url}}" target="_blank">
                  <i class="icon-{{item}}"></i>
                </a>
              </li>
            {% elseif item == 'instagram' %}
              <li>
                <a href="http://www.{{options.instagram_url}}" target="_blank">
                  <i class="icon-{{item}}"></i>
                </a>
              </li>
            {% elseif item == 'twitter' %}
              <li>
                <a href="http://www.{{options.twitter_url}}" target="_blank">
                  <i class="icon-{{item}}"></i>
                </a>
              </li>
            {% elseif item == 'pinterest' %}
              <li>
                <a href="http://www.{{options.pinterest_url}}" target="_blank">
                  <i class="icon-{{item}}"></i>
                </a>
              </li>
            {% elseif item == 'youtube-play' %}
              <li>
                <a href="http://www.{{options.youtube_url}}" target="_blank">
                  <i class="icon-{{item}}"></i>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
      <li class="copy">
        <p class="white no-margin">Copyright &copy; {{now|date('Y')}} Proposal Envy. All rights reserved.</p>
      </li>
    </ul>
  </nav>
</div>
