<section class="journal-section menu-waypoint">
  <div class="row show-for-small-only journal-select">
    <div class="small-12 columns">
      <div class="title-lower no-spacing">Filter By Categories:</div>
      <select class="category-select">
        <option selected value="{{site.url}}/journal">All</option>
        {% for category in categories %}
        <option {% if chosen_slug == category.slug %}selected{% endif %} value="{{site.url}}/journal/categories/{{category.slug}}">{{category.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

<div class="row">
  <div class="medium-12 large-10 large-offset-1 hide-for-small-only columns category-nav">
    <ul class="inline-list category-list">
      <li class="category-item">
        <a class="category-link" href="{{site.url}}/journal">All</a>
      </li>
      {% for category in categories %}
      <li class="category-item">
        <a class="category-link{% if chosen_slug == category.slug %} category-active{% endif %}" href="{{site.url}}/journal/categories/{{category.slug}}">{{category.name}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

  <div class="row">
    <div class="small-12 large-10 large-offset-1 xlarge-10 xlarge-offset-1 end columns journal-wrapper">
      <div class="journal-content">
        {% for post in posts %}
        <article class="journal-article">
          <a href="{{post.permalink}}" class="journal-link">
          <div class="title journal-meta">{{post.post_date|date('j M, Y')}} - <span class="primary">{{post.category}}</span></div>
          <h3 class="journal-title">{{post.title}}</h3>
          <p class="journal-excerpt no-margin">{{post.get_field('post_excerpt')}}</p>
          </a>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>