<section class="stories-content">
  <div class="row">
    <div class="small-12 columns">
      <div class="row stories-success">
        {% for post in success %}
          <article class="small-12 medium-4 columns end text-center post-article">
            <a href="{{post.permalink}}">
              <div class="post-image-success" style="background-image: linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.20)), url({{post.thumbnail.src}})">
                <h2 class="post-title-success">{{post.title}}</h2>
                <h5 class="post-place-success">{{post.get_field('story_place_name')}}</h5>
              </div>
            </a>
          </article>
        {% endfor %}
      </div>
      <div class="row stories-latest">
        {% for post in recent %}
          <article class="small-12 medium-4 large-3 columns end post-article">
            <a href="{{post.permalink}}">
              <div class="post-image" style="background-image: url({{post.thumbnail.src}})"></div>
              <div class="post-info">
                <h2 class="post-title">{{post.title}}</h2>
                <h5 class="post-place">{{post.get_field('story_place_name')}}</h5>
              </div>
            </a>
          </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>