<header class="hero">
  <div class="row hero-action small-only-text-center">
    <div class="small-12 columns">
      <div class="hero-subtitle">{{post.get_field('hero_subtitle')}}</div>
      <h1 class="hero-title">{{post.get_field('hero_title')}}</h1>
      <div class="hero-tagline">{{post.get_field('hero_tagline')}}</div>
      <a href="http://{{post.get_field('hero_link_url')}}" class="button coral">
        {{post.get_field('hero_link_text')}}
      </a>
      <a href="#" data-reveal-id="videoModal" class="button wire" id="play-button">
        <i class="icon-play"></i>
        Play Video
      </a>
      <div id="videoModal" class="reveal-modal large" data-reveal>
        <div class="flex-video">
          <iframe id="hero-iframe" width="1280" height="720" src="http://www.youtube-nocookie.com/embed/{{post.get_field('hero_video_url')}}" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <a class="close-reveal-modal">&#215;</a>
      </div>
    </div>
  </div>
  <video autoplay loop class="show-for-large-up" poster="{{site.theme.link}}/assets/video/poster.jpg" id="hero-video">
    <source src="{{site.theme.link}}/assets/video/header.webm" type="video/webm">
    <source src="{{site.theme.link}}/assets/video/header.mp4" type="video/mp4">
    <source src="{{site.theme.link}}/assets/video/header.ogv" type="video/ogg">
  </video>
  <div class="hero-bg hide-for-large-up"></div>
</header>