<section class="packages text-center" style="background-image: url({{TimberImage(post.get_field('package_bg')).src}})">
  <div class="row">
  <div class="xlarge-6 xlarge-offset-3 large-8 large-offset-2 medium-10 medium-offset-1 panel columns">
    <h5>{{post.get_field('package_tag')}}</h5>
    <h2>{{post.get_field('package_title')}}</h2>
    <hr>
    <p>{{post.get_field('package_desc')}}</p>
    <a href="{{site.url}}/packages" class="button coral">{{post.get_field('package_button')}}</a>
  </div> <!-- columns -->
  </div>
</section>
