<section class="stories text-center no-padding white">
  <div class="row max-width">
    <div class="success-story large-6 columns">
      <div class="title-white">Featured Success Story</div>
      <h2 class="white">{{success.title}}</h2>
      <div class="title-lower">{{success.get_field('story_place_name')}}, {{success.get_field('story_time')|slice(0,4)}}</div>
      <hr>
      <p>{{success.get_field('story_excerpt')|excerpt(20)}}</p>
      <a href="{{success.permalink}}" class="button wire">Read Story</a>
    </div>
    <div class="proposal-story large-6 columns">
      <div class="title-white">From the journal</div>
      <h2 class="white">{{proposal.title}}</h2>
      <div class="title-lower">{{proposal.get_field('story_place_name')}}, {{proposal.get_field('story_time')|slice(0,4)}}</div>
      <hr>
      <p>{{proposal.get_field('story_excerpt')|excerpt(20)}}</p>
      <a href="{{proposal.permalink}}" class="button wire">Read Story</a>
    </div>
  </div>
</section>