<section class="stories text-center">
  <div class="row max-width">
    <div class="success-story large-6 columns">
      <h5>Featured Success Story</h5>
      <h2>{{success.title}}</h2>
      <h6>{{success.get_field('story_place_name')}}, {{success.get_field('story_time')|slice(0,4)}}</h6>
      <hr>
      <p>{{success.get_field('story_excerpt')|excerpt(20)}}</p>
      <a href="{{success.permalink}}" class="button wire">Read Story</a>
    </div>
    <div class="proposal-story large-6 columns">
      <div class="tint">
        <h5>Featured Proposal Story</h5>
        <h2>{{proposal.title}}</h2>
        <h6>{{proposal.get_field('story_place_name')}}, {{proposal.get_field('story_time')|slice(0,4)}}</h6>
        <hr>
        <p>{{proposal.get_field('story_excerpt')|excerpt(20)}}</p>
        <a href="{{proposal.permalink}}" class="button wire">Read Story</a>
      </div>
    </div>
  </div>
</section>