<section class="stories text-center no-padding white">
  <div class="row max-width">
    <div class="success-story large-6 columns">
      <div class="title-bold white">Featured Success Story</div>
      <h2 class="white">{{success.title}}</h2>
      <div class="title-lower">{{success.get_field('story_place_name')}}, {{success.get_field('story_time')|slice(0,4)}}</div>
      <hr>
      <p>{{success.get_field('post_excerpt')|excerpt(17)}}</p>
      <a href="{{success.permalink}}" class="button wire">Read Story</a>
    </div>
    <div class="proposal-story large-6 columns">
      <div class="title-bold white">From our journal</div>
      <h2 class="white">{{journal.title}}</h2>
      <hr>
      <p>{{journal.get_field('post_excerpt')|excerpt(17)}}</p>
      <a href="{{journal.permalink}}" class="button wire">Read Story</a>
    </div>
  </div>
</section>